.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.poll {
  padding: 20px;
}

.timeleft {
  padding: 0 25px;
  text-align: right;
  color: #525252;
}

.flexbox{
  display:-webkit-box;
  display:-moz-box;
  display:-ms-flexbox;
  display:-webkit-flex;
  display:flex;
}

.main-container{
  padding:15px;
  width:80%; /*you can adjust by your need*/
  background-color:purple;
  color:white;
  align-items:center;
}

.right-hold{
  margin-left:auto;
  align-items:center;
}

.right-hold span{margin-left:15px;}

.right-hold span img{width:30px;}

.social-header {
  float: right;
  padding: 15px;
}

.social-header a {
  color: #656565;
}

.social-header a .fa-facebook:hover {
  color:#3b5998;
}

.social-header a .fa-youtube:hover {
  color:#cc181e;
}

.social-header a .fa-twitter:hover {
  color:#15a7ff;
}

.social-header a .fa-github:hover {
  color:#6e5494;
}

.social-header a .fa-telegram:hover {
  color:#0088cc;
}

.social-header a .fa-bitcoin:hover {
  color:#f7931a;
}

.social-header a .fa-medium:hover {
  color:#000000;
}

